<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/anubh/IdeaProjects/JenkinsDemo">
        <classes><class name="DemoTest.DemoTestClass">
            <methods>
                <include name="LoginSetup"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>